.bg_image2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    height: 1958px;
    width: 1520px;
    flex: 1;
    margin: -8px 0px -10px -16px;
    object-fit: fill;
}

/* Back to Dashboard Link Styles */
.back-to-dashboard {
    align-self: start;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: flex-start;
    margin-left: 10vw;
}


.dashboard-link {
    display: inline-block;
    background-color: darkred; /* Primary button color */
    color: #ffffff; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    text-decoration: none; /* Removes underline from links */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}


.header{
    font-family: "Heiti SC";
    color: maroon;
}

.league_logo{
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

.table_header{
    width: 100%;
    height: 6%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex: 1;


}
.header_names{
    margin-top: 2.5%;
    font-family: Avenir;
    font-size: x-large;
    color: maroon;
    width: 35%;
    height: 100%;
    padding-left: 15%;

}

.logged_user_model{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-content: center;
    padding-top: 2%;
    color: black;
    background-color: rgb(253, 131, 30);

}

.user_model{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-content: center;
    padding-top: 2%;
    background-color: rgba(255, 105, 0, 0.44);

}

.logged_user_model_name{
    font-family: Avenir;
    font-size: xx-large;
    margin-top: 1.5%;
    width: 50%;
}

.logged_user_position{
    font-family: Avenir;
    font-size: xx-large;
    margin-top: 1.5%;
    width: 5%;
}

.avatar{
    margin-top: 2.5%;
    color: maroon;
    font-family: Avenir;
    font-size: x-large;
    padding-left: 2%;
    width: 15%;

}

.posi{
    margin-top: 2.5%;
    color: maroon;
    font-family: Avenir;
    font-size: x-large;
    padding-left: 2%;
    width: 5%;

}

.pseudo_table{
    width: 80%;
    flex: 1;
    text-align: center;
    outline-width: medium;
    border: 5px solid;
    border-collapse: collapse;
    background-color: rgba(255, 200, 191, 0.21);
    border-color: #fd816d;
    row-gap: 3px;
}


.user_model_image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ffe600;
    margin-bottom: 15px;
    align-self: center;
    align-content: center;
    align-items: center;

    vertical-align: center;

}
.user_model_name{
    font-family: Avenir;
    font-size: xx-large;
    margin-top: 4px;
    width: 50%;
}

.logged_user_model_xp{
    font-family: Avenir;
    font-size: xx-large;
    margin-top: 1.5%;
    width: 20%;
}

.user_model_xp{
    font-family: Avenir;
    font-size: xx-large;
    margin-top: 1.5%;
    width: 20%;
}
.user_position{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: maroon;
    margin-top: 1.5%;
    width: 5%;
}

table{
    height: 600px;
    width: 100%;
    text-align: center;
    outline-color: green;
    outline-width: medium;
    border: 6px solid;
    border-collapse: collapse;

}

td{
    background-color:rgba(97, 173, 90, 0.192);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;

}
.user_model:hover {

    background-color: #6b372e;
    color: rgb(255, 196, 2);
}

.logged_user_model:hover
{

    background-color: #6b372e;
    color: rgb(255, 196, 2);
}