.good_bg_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("good.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 1520px;
    flex: 1;
    margin: -8px 0px -10px -16px;
    object-fit: fill;
}



.btn {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.btn:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .btn {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}


.bad_bg_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("bad.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1058px;
    width: 1520px;
    flex: 1;
    margin: -8px 0px -10px -16px;
    object-fit: fill;
}

.bad_notif_message{
    font-size: xx-large;
    font-family: "Heiti SC";
    color: #ffe600;
}

.good_notif_message{
    font-size: xx-large;
    font-family: "Heiti SC";
    color: #A4FF05;
}